[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = https://github.com/laozhu/hugo-nuo.git
[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/shenoybr/hugo-goa.git
[submodule "themes/hugo-cactus"]
	path = themes/hugo-cactus
	url = https://github.com/digitalcraftsman/hugo-cactus-theme.git
